 /*CSS Reset */
* {
	margin : 0;
	padding: 0;
	box-sizing: border-box;
	color: #f2f2f2;
	/*default font */
	font-family: 'PT Mono', monospace, 'Special Elite', cursive;
}
/*google fonts*/


/*external css*/

/* target the html element called body*/
body {
	/*background: skyblue;*/
	/*background-image: url('../images/bg.jpg');*/
	/*background-image: url(https://media.giphy.com/media/NPXkCN2FutVO1Nt4P9/giphy.gif);*/
	background-image: linear-gradient(rgba(44, 62, 80,0.5), rgba(41, 128, 185,0.75)),url('https://media.giphy.com/media/NPXkCN2FutVO1Nt4P9/giphy.gif');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	/*viewport height*/
	height: 130vh;
}

.container {
	width: 500px;
	margin: 0 auto;/*this centers horizontally*/
}

/*end of body*/

/* start h1*/
h1 {
	font-size: 45px;
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 5px;
	border-radius: 10px;
	padding:10px;
	background-color: #333;
	font-family: 'Roboto', sans-serif; /* off black */
}
/* end h1*/

/*start h2*/

h2 {
	color: yellow;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 15px;
	background-color: #333;
	border-radius: 10px;
	margin-top: 5px;
	margin-bottom: 50px;
	padding: 15px;
	/*padding vs margin*/
	/*margin: add space outside the element*/
	/*padding: add space inside the element*/
 }

/*end h2*/

/*start of paragraph = bio*/

p {

	font-size: 18px;
	background-color: rgba(51, 51, 51, 0.5);
	/*multiplied to current line height*/
	line-height: 1.75;
	padding: 10px;
	margin-bottom: 20px;

}

/* end of paragraph = bio*/
#me {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-color: indianred;
	border-width: 5px;
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 25px;
}
h1, h2, p {
	text-align: center;
}
/*targets the element with id me*/


/*end of id me